<phpunit bootstrap="./application/bootstrap.php" colors="true">
        <testsuite name="ZF 1.9.5 + Doctrine 1.2 + ZFDebug" >
                <directory>./application</directory>
        </testsuite>
        <filter>
                <whitelist>
                        <directory suffix=".php">../application</directory>
                        <exclude>
                                <directory suffix=".php">../library/Zend</directory>
                                <directory suffix=".php">../library/</directory>
                                <directory suffix=".phtml">../application/</directory>
                                <file>../application/Bootstrap.php</file>
                                <file>../application/cli_bootstrap.php</file>
                        </exclude>
                </whitelist>
        </filter>

        <logging>
                <log type="coverage-html" target="./log/report" charset="UTF-8"
                yui="true" highlight = "true" lowUpperBound="50" highLowerBound="80" />
                <log type="testdox" target="./log/testdox.html" />
        </logging>

</phpunit>
